<DOCTYPE html> 
	<html>
	<head>
		<font size="12" color="white githubtitle>SadBoys</title>
	</head>
	<body>
		<img src="smiley.gif" alt="Smiley face"
		<h1 style="background-color: black"</h1>
	</body>
	<p>Representing young artists and their passion</p>
	</html>
